/* *::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
} */

/* html {
  background: url(https://as1.ftcdn.net/v2/jpg/04/19/98/20/1000_F_419982028_4TJJFRA7SaxtJfnahejrmR6L0k9dyugt.jpg) no-repeat center center fixed; 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  /* background-size: cover; */


/* } */ 

@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);

body {
  background-color: #f0ffff;
}

.game-info {
  color: #219ebc
}

.description {
  color: #ffb703;
}

.review-box {
  border: 1px solid;
}

.header {

  margin: 40px 10px 70px 10px;
  left: 0;
  top: 0;
  z-index: 10;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  background-position:-680px 0;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0;
  padding-right: 300px;
  -webkit-animation-name: chrome_effect;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}


.chrome {
  position: relative;
  text-align: center;
  background-image: -webkit-linear-gradient(#378DBC 0%, #14d0f1 46%, #ed970d 50%, #32120E 54%, #ea7806 58%, #883907 90%, #f77f0f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #f5f5f5;
  font-size: 120px;
  font-family: 'Titillium Web', sans-serif;
  /* font-style: italic; */
  margin: 40px 10px 70px 10px;

}

/* .chrome:before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  background-position:-680px 0;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0;
  padding-right: 300px;
  -webkit-animation-name: chrome_effect;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
} */



.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.padding {
  margin: 10px;
}

.less-padding {
  margin: 0px
}

.border {
  background-color: #4682b4;
  border: hidden;
}

.cursive {
  font-weight: bolder;
  font-family: cursive;
  color: #000000;
}




/* .header {
  color: #f0ffff;
  font-weight: bolder;
  font-size: 90px;
  font-family: "snell roundhand", cursive;
  margin: 40px 10px 70px 10px;
} */
input[type="radio"] {
  margin-left:5px;
  margin-right:20px;
}
