/* *::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
} */

body {
  background-color: #FAF9F6;
}

.game-info {
  color: #219ebc
}

.description {
  color: #ffb703;
}

.review-box {
  border: 1px solid;
}

.review-container {
  max-width: 500px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.review-username-container {
  text-align: right;
}

.review-username {
  font-weight: bold;
}

.review-comment {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.review-rating-container {
  text-align: right;
  background-color: rgb(128, 145, 242);
}

.review-rating {
  font-weight: bold;
}

.vote-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.upvote-btn,
.downvote-btn {
padding: 0.5rem 1rem;
border-radius: 4px;
border: 1px solid #EB9595;
background-color: #8f8888;
font-size: 0.8rem;
cursor: pointer;
margin: 0 10px;
}

.upvote-btn {
background-color: #90EE90;
}

.downvote-btn {
background-color: #FF6961;
}

.vote-count {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.review-rating {
  font-weight: bold;
}

.vote-btns {
  text-align: center;
  margin-top: 10px;
}

.vote-count {
  text-align: center;
  margin-top: 10px;
} 